
*.pdb
*.exe
*.cache
SomeWPF3DProject\bin\
SomeWPF3DProject\obj\
SomeWPF3DProject/bin/Debug/SomeWPF3DProject.exe
SomeWPF3DProject/bin/Debug/SomeWPF3DProject.exe.config
SomeWPF3DProject/bin/Debug/SomeWPF3DProject.pdb
SomeWPF3DProject/bin/Debug/SomeWPF3DProject.v12.suo
SomeWPF3DProject/bin/Debug/SomeWPF3DProject.vshost.exe.config
SomeWPF3DProject/bin/Debug/SomeWPF3DProject.vshost.exe.manifest
SomeWPF3DProject/obj/Debug/App.g.cs
SomeWPF3DProject/obj/Debug/App.g.i.cs
SomeWPF3DProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SomeWPF3DProject/obj/Debug/MainWindow.baml
SomeWPF3DProject/obj/Debug/MainWindow.g.cs
SomeWPF3DProject/obj/Debug/MainWindow.g.i.cs
SomeWPF3DProject/obj/Debug/SomeWPF3DProject.csproj.FileListAbsolute.txt
SomeWPF3DProject/obj/Debug/SomeWPF3DProject.csproj.GenerateResource.Cache
SomeWPF3DProject/obj/Debug/SomeWPF3DProject.exe
SomeWPF3DProject/obj/Debug/SomeWPF3DProject.g.resources
SomeWPF3DProject/obj/Debug/SomeWPF3DProject.pdb
SomeWPF3DProject/obj/Debug/SomeWPF3DProject.Properties.Resources.resources
SomeWPF3DProject/obj/Debug/SomeWPF3DProject_MarkupCompile.cache
SomeWPF3DProject/obj/Debug/SomeWPF3DProject_MarkupCompile.i.cache
SomeWPF3DProject/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
SomeWPF3DProject/obj/Debug/WinCtl.baml
SomeWPF3DProject/obj/Debug/WinCtl.g.cs
SomeWPF3DProject/obj/Debug/WinCtl.g.i.cs
SomeWPF3DProject/bin/Debug/SomeWPF3DProject.exe
SomeWPF3DProject/bin/Debug/SomeWPF3DProject.exe.config
SomeWPF3DProject/bin/Debug/SomeWPF3DProject.pdb
SomeWPF3DProject/bin/Debug/SomeWPF3DProject.v12.suo
SomeWPF3DProject/bin/Debug/SomeWPF3DProject.vshost.exe.config
SomeWPF3DProject/bin/Debug/SomeWPF3DProject.vshost.exe.manifest
SomeWPF3DProject/obj/Debug/App.g.cs
SomeWPF3DProject/obj/Debug/App.g.i.cs
SomeWPF3DProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SomeWPF3DProject/obj/Debug/MainWindow.baml
SomeWPF3DProject/obj/Debug/MainWindow.g.cs
SomeWPF3DProject/obj/Debug/MainWindow.g.i.cs
SomeWPF3DProject/obj/Debug/SomeWPF3DProject.csproj.FileListAbsolute.txt
SomeWPF3DProject/obj/Debug/SomeWPF3DProject.csproj.GenerateResource.Cache
SomeWPF3DProject/obj/Debug/SomeWPF3DProject.exe
SomeWPF3DProject/obj/Debug/SomeWPF3DProject.g.resources
SomeWPF3DProject/obj/Debug/SomeWPF3DProject.pdb
SomeWPF3DProject/obj/Debug/SomeWPF3DProject.Properties.Resources.resources
SomeWPF3DProject/obj/Debug/SomeWPF3DProject_MarkupCompile.cache
SomeWPF3DProject/obj/Debug/SomeWPF3DProject_MarkupCompile.i.cache
SomeWPF3DProject/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
SomeWPF3DProject/obj/Debug/WinCtl.baml
SomeWPF3DProject/obj/Debug/WinCtl.g.cs
SomeWPF3DProject/obj/Debug/WinCtl.g.i.cs
